body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaf6ff;
  text-align: center;
}


/* Resource boxes */
.resource-box{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 25px auto;
  width: 70%;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

/* Titles inside resource boxes */
.resource-box h4{
  color: #0b1a40;
  margin-bottom: 10px;
}


/* Two-column layout */
.container{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

/* Each column */
.column{
  width: 45%;
}

/* Section boxes */
.resource-box{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}


/* Top website banner */
h1{
  background-color: #0b1a40;
  color: white;
  padding: 20px;
  margin: 0;
  font-size: 48px;
  letter-spacing: 2px;
  text-align: center;
  border-bottom: 5px solid #0b3d91;
}



/* H2 headings */
h2{
  font-size: 50px;
  color: green;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  border-bottom: 3px solid green;
  display: inline-block;
  padding-bottom: 5px;
}

/* H3 headings */
h3{
  font-size: 36px;
  color: red;
  text-align: center;
  margin-bottom: 25px;
  border-bottom: 2px solid red;
  display: inline-block;
  padding-bottom: 4px;
}

/* DOWNLOAD BUTTONS */
.download-btn{
  display: inline-block;
  padding: 12px 20px;
  margin: 10px;
  background-color: #0b3d91;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease;
}

/* Hover effect */
.download-btn:hover{
  background-color: #092f6b;
  transform: scale(1.05);
}


